<nav>
  <div class="nav-wrapper teal darken-1">
    <form>
      <div class="input-field ">
        <input id="search" name="search" type="search"  [(ngModel)]="searchText" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons" (click)="onSearch()">find_in_page</i>
      </div>
      
    </form>
  </div>
</nav>
<table>
  <thead>
    <tr class="card-panel  blue-grey lighten-4 ">
      <th>{{'support.Hcompany.company-code'| translate}}</th>
      <th>{{'support.Hcompany.company-name'| translate}}</th>
      <th>{{'button.edit'| translate}}</th>
      <th>{{'button.delete'| translate}}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let comp of companyData; let i=index;">
      <th>{{comp.compCode}}</th>
      <th>{{comp.compName}}</th>
      <th> 
        <a class="btn-floating btn light-blue darken-4 " (click)="onEditbtnClick(comp._id)"><i class="material-icons">edit</i></a>
      </th>
      <th>
        <a class="btn-floating btn  red darken-4" (click)="onDelbtnClick(comp._id)"><i class="material-icons">delete</i></a>
      </th>
    </tr>
  </tbody>
</table>

<ul class="pagination tcenter">
  <li class="waves-effect" *ngFor="let p of paging;let i = index;" 
      [ngClass]="{'active':i==numPage}" (click)="gotoPage(i);"><a >{{p}}</a></li>
</ul>

<div class="fixed-action-btn">
  <a class="btn-floating btn right green darken-4" (click)="onAddbtnClick()"><i class="material-icons">add</i></a>
</div>