<!-- <div class="row rowPading">
    <div class="input-field inline col col s12 m4 offset-m4">
        <input id="txtIssueNo" name="issueNo" type="text" class="validate" [(ngModel)]="issueNo" placeholder="please input Issue No"
            minlength="1" />
        <label for="txtIssueNo" data-error="please input Issue No">IssueNo.</label>
    </div>
</div> -->

<div class="row rowPading">
    <div class="input-field col col s12 m4 offset-m4">
        <select [(ngModel)]="compCode" materialize="material_select" [materializeSelectOptions]="companyData">
      <option value="" disabled selected>Choose your company name</option>
      <option *ngFor="let comp of companyData;"
       [value]="comp.compCode">{{comp.compName}}</option>
    </select>
        <label>Company Name</label>
    </div>
</div>

<div class="row">
    <div class="input-field col col s12 m4 offset-m4">
        <select [(ngModel)]="cusCode" materialize="material_select" [materializeSelectOptions]="customerData"> 
      <option value="" disabled selected>Choose your customer name</option>
      <option *ngFor="let cus of customerData;"
       [value]="cus.cusCode">{{cus.cusName}}</option>
    </select>
        <label>Customer Name</label>
    </div>
</div>

<div class="row">
    <div class="input-field col col s12 m4 offset-m4">
        <select [(ngModel)]="userCode" materialize="material_select" [materializeSelectOptions]="userData"> 
      <option value="" disabled selected>Choose your user name</option>
      <option *ngFor="let user of userData;"
       [value]="user.firstname">{{user.firstname}}</option>
    </select>
        <label>User Name</label>
    </div>
</div>

<div class="row">
    <div class="input-field inline col col s12 m4 offset-m4">
        <input [(ngModel)]="issue" id="txtIssue" name="issue" type="text" class="validate">
        <label for="txtIssue" data-error="please input Title">Title</label>
    </div>
</div>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field  col col s12 m4 offset-m4">
                <textarea [(ngModel)]="description" name="description" id="txtDescription" class="materialize-textarea" [(ngModel)]="description" placeholder="please input Description"></textarea>
                <label for="txtDescription">Description</label>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="input-field inline col col s12 m4 offset-m4">
        <input type="text" [(ngModel)]="date" class="datepicker" [(ngModel)]="date" name="date" materialize="pickadate" [materializeParams]="[{closeOnSelect: true,format:'dd/mm/yyyy'}]">
        <label for="txtDate">Issue Date</label>
    </div>
</div>

<div class="row">
    <div class="col col s12 m4 offset-m4">
        <form action="#">
            <label for="Status">Status</label>
            <p>
                <input class="with-gap" name="group1" type="radio" id="rdoNew" value="New" [(ngModel)]="status"/>
                <label for="rdoNew">New</label>

                <input class="with-gap" name="group1" type="radio" id="rdoInprocess" value="In Process" [(ngModel)]="status"/>
                <label for="rdoInprocess">Inprocess</label>

                <input class="with-gap" name="group1" type="radio" id="rdoComplete"  value="Complete" [(ngModel)]="status"/>
                <label for="rdoComplete">Complete</label>

                <input class="with-gap" name="group1" type="radio" id="rdoCancel"  value="Cancel" [(ngModel)]="status"/>
                <label for="rdoCancel">Cancel</label>
            </p>
        </form>
    </div>
</div>
<div class="row">
    <div class="input-field inline col col s12 m4 offset-m4">
        <form action="#">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name="avatar" (change)="fileChangeEvent($event);" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row ">
    <div class="input-field col col s10 m5 offset-m5">
        <th><a class="btn green" (click)="onSave()">Save</a></th>
        <th><a class="btn grey" (click)="onBack()">Back</a></th>
    </div>
</div>