<div class="row rowPading materialize="updateTextFields>
  <div class="input-field inline col col s12 m4 offset-m4">
    <input [(ngModel)]="user.firstname"  id="firstName" type="text" class="validate" [placeholder]="'support.Huser.Fname-placeholder'| translate">
    <label for="txtfirstname" data-error="please input First Name">{{'support.Huser.firstname'| translate}}</label>
  </div>
</div>

<div class="row ">
  <div class="input-field col col s12 m4 offset-m4">
    <input id="txtlastname" type="text" class="validate" [(ngModel)]="user.lastname" 
    [placeholder]="'support.Huser.Lname-placeholder'| translate" minlength="1">
    <label for="txtlastname" data-error="please input Last Name">{{'support.Huser.lastname'| translate}}</label>
  </div>
</div>

<div class="row">
  <div class="input-field col col s12 m4 offset-m4">
    <input id="txtphone" type="text" class="validate" [(ngModel)]="user.phone" 
    [placeholder]="'support.Huser.phone-placeholder'| translate"minlength="1">
    <label for="txtphone" data-error="please input telephone">{{'support.Huser.phone'| translate}}</label>
  </div>
</div>

<div class="row">
  <div class="input-field col col s12 m4 offset-m4">
    <input id="txtemail" type="text" class="validate" [(ngModel)]="user.email" 
    [placeholder]="'support.Huser.email-placeholder'| translate"minlength="1">
    <label for="txtemail" data-error="please input email">{{'support.Huser.email'| translate}}</label>
  </div>
</div>

<div class="row ">
  <div class="input-field col col s12 m4 offset-m4">
    <input id="txtpassword" type="password" class="validate" [(ngModel)]="user.password"
    [placeholder]="'support.Huser.password-placeholder'| translate" minlength="1">
    <label for="txtpassword" data-error="please input Password">{{'support.Huser.password'| translate}}</label>
  </div>
</div>


<div class="row">
    <div class="input-field inline col col s12 m4 offset-m4">
        <form action="#">
            <div class="file-field input-field">
                <div class="btn">
                    <span>{{'button.upload'| translate}}</span>
                    <input type="file" name="avatar" (change)="fileChangeEvent($event);" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" [placeholder]="'button.uploadP-placeholder'| translate">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row ">
  <div class="input-field col col s10 m5 offset-m5">
    <th><a class="btn green" (click)="onSave()">{{'button.save'| translate}}</a></th>
    <th><a class="btn grey" (click)="onBack()">{{'button.back'| translate}}</a></th>
  </div>
</div>