<!-- <div class="row rowPading">
  <div class="input-field col col s12 m4 offset-m4">
    <select>
      <option value="" disabled selected [ngValue]="">{{'support.Hcustomer.company-choose'| translate}}</option>
      <option *ngFor="let comp of companyData;"
       value="comp.compCode">{{comp.compName}}</option>
    </select>
    <label>Company Code</label>
  </div>
</div> -->

 <div class="row rowPading">
  <div class="inline col col s12 m4 offset-m4">
    <label>{{'support.Hcustomer.company-name'| translate}}</label>
    <select class="browser-default" [(ngModel)]="compCode">
    <option value="" disabled selected [ngValue]="">{{'support.Hcustomer.company-choose'| translate}}</option>
    <option *ngFor="let comp of companyData" [value]="comp.compCode">{{comp.compName}}</option>
    
  </select>
  </div>
</div> 

<div class="row">
  <div class="input-field inline col col s12 m4 offset-m4">
    <input id="txtCustomerCode" type="text" class="validate" [(ngModel)]="cusCode" [placeholder]="'support.cusName-placeholder'| translate"
      minlength="1">
    <label for="txtCustomerCode" data-error="please input Customer Code">{{'support.Hcustomer.customer-code'| translate}}</label>
  </div>

</div>
<div class="row ">
  <div class="input-field col col s12 m4 offset-m4">

    <input id="txtCustomerName" type="text" class="validate" [(ngModel)]="cusName" [placeholder]="'support.cusName-placeholder'| translate"
      minlength="1">
    <label for="txtCustomerName" data-error="please input Customer Name">{{'support.Hcustomer.customer-name'| translate}}</label>
  </div>
</div>


<div class="row ">
  <div class="input-field col col s10 m5 offset-m5">
    <th><a class="btn green" (click)="onSave()" (click)="clickEventHandler($event)">{{'button.save' | translate}}</a></th>
    <th><a class="btn grey" (click)="onBack()">{{'button.back' | translate}}</a></th>
  </div>
</div>